*
{
	margin: 0;
	padding: 0;
}

#instrucciones
{
	width: 100%;
	height: 200px;
	background-color: #eee;
}

#juego
{
	width: 100%;
	height: 400px;
	position: relative;
}

#fagmentoTierraIzq
{
	width: 25%;
	height: 160px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: #7D500A
}

#fragmentoTierraDer
{
	width: 25%;
	height: 160px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-color: #7D500A;
}

#rio
{
	width: 100%;
	height: 194px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	background: url(../media/water.png);
	background-repeat: repeat-x;
	animation: water 6s linear infinite;
}

@keyframes water {
	
	0%
	{
		background-position: 0% bottom;
	}

	50%
	{
		background-position: 50% bottom;
	}

	100%
	{
		background-position: 130% bottom;
	}


}