*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(../img/cloud1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#instrucciones
{
	width: 100%;
	height: 150px;
	background-color: #eee;
}

#juego
{
	width: 100%;
	height: 400px;
	position: relative;
}

#fagmentoTierraIzq
{
	width: 25%;
	height: 160px;
	position: absolute;
	border-top-right-radius: 25px;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: #7D500A
}

#fagmentoTierraIzq img, #fragmentoTierraDer img
{
	margin: 5px;
}

#misionerosIzq, 
#canibalesIzq, 
#misionerosDer,
#canibalesDer
{
	position: absolute;
}

#misionerosIzq, #misionerosDer{
	bottom: 120px;
}

#canibalesIzq, #canibalesDer
{
	bottom: 20px;
}

img
{
	cursor: pointer;
}

#fragmentoTierraDer
{
	width: 25%;
	height: 160px;
	position: absolute;
	border-top-left-radius: 25px;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-color: #7D500A;
}

#rio
{
	width: 100%;
	height: 194px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	background: url(../media/water.png);
	background-repeat: repeat-x;
	animation: water 10s linear infinite;
}

#barcaIzq img
{
	position: absolute;
	right: 25%;
	top: 35px;
}

#barcaIzq img.move
{
	position: absolute;
	right: 57.8%;
	top: 35px;
}

#creditos
{
	width: 100%;
	height: 200px;
	background-color: #eee;
}

@keyframes water {
	
	0%
	{
		background-position: 0% bottom;
	}

	50%
	{
		background-position: 50% bottom;
	}

	100%
	{
		background-position: 130% bottom;
	}


}